<p id="notice"><%= notice %></p>
 
<div id="post-body">
    <div class="container">
        <div class="col-xs-4.left-body">
            <% if signed_in? %>
                <div class="panel">
                    <div class="panel-body">
                        <%= link_to user_path(current_user), class: "user" do %>
                            <span class="user-name">
                                
                            </span>
                            <span class="user-id">
                                @<%= current_user.name %>
                            </span>
                        <% end %>
                        <div class="user-acivity">
                            <div class="row">
                                <div class="col-xs-4.posts-num">
                                    <div class="text">
                                        つぶやき
                                    </div>
                                    <div class="num">
                                        <%= link_to current_user.posts.count, user_path(current_user) %>
                                    </div>
                                </div>
                                <div class="col-xs-4.follow-num">
                                    <div class="text">
                                        フォロー
                                    </div>
                                    <div class="num">
                                        0
                                    </div>
                                </div>
                                <div class="col-xs-4.follower-num">
                                    <div class="text">
                                        フォロワー
                                    </div>
                                    <div class="num">
                                        0
                                    </div>
                                </div>
                            </div>
                            
                        <%= render "form" %>    
                        
                        </div>
                    </div> 
                </div>
            <% end %>
        </div>
        <div class="col-xs-8.right-body">
            <div class="list-group">
                <%= div_for @posts, class: "list-group-item" do |t| %>
                    <h4 class="user">
                        <span class="user-name">
                            
                        </span>
                        <span class="user-id">
                            
                        </span>
                        <span class="time.pull-right">
                            <%= distance_of_time_in_words_to_now(t.created_at) %>
                        </span>
                        <div class="clear">
                        </div>
                    </h4>
                    <div class="post-body">
                        <p>
                            <%= t.body %>
                            <% if t.favorited_by?(current_user) %>
                            <%= link_to 'イイネシナイ', post_favorites_path(t), method: :delete %>
                            <% else %>
                              <%= link_to 'iine', post_favorites_path(t), method: :post %>

                            <% end %>
                        </p>
                        <div class="content-footer">
                                
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>